<template name="videoForm">
    <form class="new-video mt-4">
      <div class="mb-3">
        <label for="videoFile" class="form-label">Sélectionnez une vidéo</label>
        <input type="file" id="videoFile" name="video" accept="video/*" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Ajouter vidéo</button>
    </form>
    <div style="margin-top: 20px;">
      {{#if currentUpload}}
      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="{{currentUpload.progress.get}}" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-info text-dark" style="width: {{currentUpload.progress.get}}%">{{currentUpload.progress.get}}%</div>
      </div>
      {{else}}
      <div class="progress-placeholder" style="height: 16px;"></div>
    {{/if}}
    </div>
  </template>